#calendar {
  max-width: 900px;
  margin: 0 auto;
}

.calendar-controls {
  text-align: center;
  margin-top: 10px;
}

.card-title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Nueva clase para imágenes responsivas */
/* Modificado para imágenes de tamaño fijo pero responsivas */
.responsive-img {
  width: auto; /* Se ajusta automáticamente al ancho */
  max-width: 100%; /* Asegura que la imagen sea responsiva */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 720px; /* Altura máxima para responsividad */
}

/* Contenedores para garantizar el tamaño deseado mientras se mantiene responsivo */
.image-container {
  width: 300px; /* Ancho fijo */
  height: 300px; /* Alto fijo */
  display: flex; /* Usa flexbox para centrar la imagen */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  margin: auto; /* Centra el contenedor en el espacio disponible */
  max-width: 100%; /* Asegura responsividad */
}

.responsive-img-specific {
  width: 300px; /* Asegura que la imagen se adapte al contenedor */
  height: auto; /* Mantiene la proporción */
  max-height: 300px; /* Altura máxima para mantener uniformidad */
}
